
<section>
    <h2 class="text-center" id="propos">A propos</h2>
    <div class="grid-container">
        <div class="grid-x">
            <article class="small-12 medium-4 cell text-center">
                <figure><img src="img/icon1.png" alt=""></figure>
                <h3>Passioné</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, alias, ea. Asperiores consequuntur, sint exercitationem, eius nobis, totam nesciunt repudiandae provident a nulla velit ipsum magni deserunt nam corrupti perspiciatis.</p>
            </article>
            <article class="small-12 medium-4 cell text-center">
                <figure><img src="img/icon2.png" alt=""></figure>
                <h3>Spontané</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe minus eum magnam repellat, ullam aperiam, dolorem voluptatem doloremque. Accusamus id qui iusto. Quisquam dolorum magnam tempora rem quas distinctio expedita.</p>
            </article>
            <article class="small-12 medium-4 cell text-center">
                <figure><img src="img/icon3.png" alt=""></figure>
                <h3>Curieux</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum excepturi expedita libero beatae! Quia, et officia provident praesentium enim vel laborum recusandae, maxime, incidunt ipsum magni. Reprehenderit nostrum praesentium doloremque.</p>
            </article>
        </div>
        <div class="grid-x align-center arrow">
            <a href="#imgbg" data-smooth-scroll><img src="img/arrowportfolio.png"/></a>
        </div>
    </div>
</section>
