<section class="blog">
    <h2 class="text-center" id="blog">Blog</h2>
    <div class="grid-container">
        <div class="grid-x">
                <div class="grid-container grid-x grid-margin-x">
                  <article class="text-center small-12 medium-4 cell">
                      <figure><img src="img/blog1.jpg" alt=""></figure>
                      <h3>les nouveaux métiers du multimédia</h3>
                      <time>12.09.2017</time>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, alias, ea. Asperiores consequuntur, sint exercitationem, eius nobis, totam nesciunt repudiandae provident a nulla velit ipsum magni deserunt nam corrupti perspiciatis.</p>
                  </article>
                    <article class="text-center small-12 medium-4 cell">
                        <figure><img src="img/blog2.jpg" alt=""></figure>
                        <h3>UX mon bel ux</h3>
                        <time>14.09.2016</time>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe minus eum magnam repellat, ullam aperiam, dolorem voluptatem doloremque. Accusamus id qui iusto. Quisquam dolorum magnam tempora rem quas distinctio expedita.</p>
                    </article>
                    <article class="text-center small-12 medium-4 cell">
                        <figure><img src="img/blog3.jpg" alt=""></figure>
                        <h3>25 extensions chrome pour les wedesigners</h3>
                        <time>16.09.2016</time>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum excepturi expedita libero beatae! Quia, et officia provident praesentium enim vel laborum recusandae, maxime, incidunt ipsum magni. Reprehenderit nostrum praesentium doloremque.</p>
                    </article>
                </div>

            </div>

    </div>

</section>
