<section class="contact">
    <h2 class="text-center" id="contact">Contact</h2>
    <div class="grid-container">
        <div class="grid-x align-center">
            <div class="small-8 cell">
                <div class="grid-container">
                    <div class="grid-x">
                        <div class="small-6 cell">
                            <label for="">Prénom</label>
                            <input type="text" placeholder="PRENOM">
                        </div>
                        <div class="small-6 cell">
                            <label for="">Nom</label>
                            <input type="text" placeholder="NOM">
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="small-6 cell">
                            <label for="">Email</label>
                            <input type="text" placeholder="EMAIL">
                        </div>
                        <div class="small-6 cell">
                            <label for="">Telephone</label>
                            <input type="text" placeholder="MOBILE">
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="small-12 cell">
                            <label for="">Message</label>
                            <textarea name="name" rows="8" cols="80" placeholder="MESSAGE"></textarea>
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="small-3 small-offset-9 cell">
                            <input type="submit" class="button large expanded hollow" id="send">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
