<section class="portfolio">
    <h2 class="text-center" id="portfolio">Portfolio</h2>
    <div class="grid-container">
        <div class="grid-x small-up-4">
            <div class="cell small-2 medium-4">
                <img src="img/image3.jpg" alt="">
            </div>
            <div class="cell small-2 medium-4">
                <img src="img/image4.jpg" alt="">
            </div>
            <div class="cell small-2 medium-4">
                <img src="img/image5.jpg" alt="">
            </div>
            <div class="cell small-2 medium-4">
                <img src="img/image6.jpg" alt="">
            </div>
            <div class="cell small-2 medium-4">
                <img src="img/image7.jpg" alt="">
            </div>
            <div class="cell small-2 medium-4">
                <img src="img/image8.jpg" alt="">
            </div>
            <div class="cell small-2 medium-4">
                <img src="img/image9.jpg" alt="">
            </div>
            <div class="cell small-2 medium-4">
                <img src="img/image10.jpg" alt="">
            </div>
        </div>
        <div class="grid-x align-center arrow">
          <a href="#blog" data-smooth-scroll><img src="img/arrowportfolio.png"/></a>
        </div>
    </div>
</section>
