<header>
  <div class="grid-container">
    <nav class="grid-x align-middle">
      <div class="large-1 cell">

      </div>
      <div class="large-10 cell">
        <ul class="menu align-center">
          <li><a href="#">Home</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Concerts</a></li>
          <li><a href="#">Music</a></li>
          <li><a href="#">Bio</a></li>
          <li><a href="#">Links</a></li>
        </ul>
      </div>
      <div class="large-1 cell text-right">
        <a href="#">EN</a>
      </div>
    </nav>
  </div>
</header>
